<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257302180678-euibjpuqgbvrth16c5nvqts6i60a28dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257302180678-euibjpuqgbvrth16c5nvqts6i60a28dg</string>
	<key>API_KEY</key>
	<string>AIzaSyB0RhbZObaVLmNAzzuthI5LWLn3lQrm0qU</string>
	<key>GCM_SENDER_ID</key>
	<string>257302180678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dylan.OpenCaptionsMaker</string>
	<key>PROJECT_ID</key>
	<string>opencaptionsmaker</string>
	<key>STORAGE_BUCKET</key>
	<string>opencaptionsmaker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257302180678:ios:e66537b91c88bda1adeb47</string>
	<key>DATABASE_URL</key>
	<string>https://opencaptionsmaker.firebaseio.com</string>
</dict>
</plist>